@page "/"

<h1>Selamat Datang di EcoTasks ✅</h1>

<p>EcoTasks membantu kamu mengelola daftar tugas dengan lebih mudah dan produktif.</p>

<a class="btn btn-primary" href="/todo">Buka Task Manager</a>
