@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="text-center mt-4 mb-2 text-muted">
            &copy; @DateTime.Now.Year Rafli Adipratama. All rights reserved.
        </footer>
    </main>
</div>
